body{
background-color: lavender;  
font-family: Arial, sans-serif;  
text-align: center;  
padding:20px; 
}



.result-box {
  display:none;
  background-color: rgb(173, 216, 230);
  border-radius: 10px;
  margin: 15px auto;
  padding:10px;
  width:60%;
 
}

.result-box:hover {
  background-color: rgb(144, 238, 144);
 
}


.quiz-image {
  width: 150px;
  height: auto;
  margin: 10px;
  border: 2px solid #555;
  border-radius: 8px;
}

hr {
  height: 5px;
  background-color: black;
}
